# Default ignored files
/shelf/
/workspace.xml
/.idea\description.html/
/.idea\encodings.xml
/.idea\misc.xml
/.idea\modules.xml
/.idea\project-template.xml
/.idea\vcs.xml
/brackets.iml
/out\production\brackets\com\Tanda\BalanceVerificator.class
/out\production\brackets\com\Tanda\Main.class